html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2f3f5;
    padding: 15px;
}
.layui-card-body {
    width: 500px;
}
.row2 {
    display: flex;
    justify-content: flex-end;
}
.cropper-box {
    width: 350px;
    height: 350px;
    background-color: gray;
    overflow: hidden;
}
.w100 {
    width: 100px;
    height: 100px;
    background-color: gray;
}
.w50 {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-top: 50px;
}
.size {
    font-size: 12px;
    color: gray;
    text-align: center;
}
/* 设置图片行的样式 */
.row1 {
    display: flex;
  }
  
  /* 设置 preview-box 区域的的样式 */
  .preview-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }
  
  /* 设置 img-preview 区域的样式 */
  .img-preview {
    overflow: hidden;
    border-radius: 50%;
  }
 #file {
      display: none;
  }